/*  your css code here. If applicable */
body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.gallery img {
  max-width: 25vw;
  margin: 10px;
  border: 3px solid #000;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.3);
  object-fit: cover;
}
